//Colors

$white:    #fff !default;
$gray-100: #e7ecf7 !default;
$gray-200: #cdd3de !default;
$gray-300: #b4bac7 !default;
$gray-400: #9ba2b0 !default;
$gray-500: #828a99 !default;
$gray-600: #6b7483 !default;
$gray-700: #555f6e !default;
$gray-800: #3f4959 !default;
$gray-900: #293545 !default;
$black:    #000 !default;

$blue:    #007cd8 !default;

$body-bg:                   $white !default;
$body-color:                $gray-800 !default;

$link-color:                $blue !default;
$link-decoration:           none !default;
$link-hover-color:          darken($link-color, 15%) !default;
$link-hover-decoration:     underline !default;
