@import "variables";

html {
  -webkit-font-smoothing: antialiased;
}
body {
  color: $body-color;
  font-family: $font-family-sans-serif;
  margin: 0;
  padding: 0;
}

a {color: $link-color;
   text-decoration: none;
   -webkit-transition: background-color .4s linear, color .4s linear;
      -moz-transition: background-color .4s linear, color .4s linear;
        -o-transition: background-color .4s linear, color .4s linear;
       -ms-transition: background-color .4s linear, color .4s linear;
           transition: background-color .4s linear, color .4s linear
}
a:hover {text-decoration: underline}
h1, h2, h3, h4 {
  color: $body-color;
  font-weight: $headings-font-weight;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}

#map {
  background:white
}

/* Sidebar */

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 0;
  overflow: hidden;
  width: 100%;
  z-index: 2000;
}
.sidebar.collapsed {
  width: 40px;
}
@media (min-width: 768px) {
  .sidebar {
    left: 0;
    top: 0;
    bottom: 0;
    transition: width 500ms;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar {
    width: 305px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar {
    width: 390px;
  }
}
@media (min-width: 1200px) {
  .sidebar {
    width: 460px;
  }
}

.sidebar-tabs {
  background-color: $body-color;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 100%;
  margin: 0;
  padding: 0;
  li {
    color: $white;
    font-size: 12pt;
    height: 40px;
    overflow: hidden;
    transition: all 80ms;
    width: 100%;
    a {
    color: $white;
    display: inline-table;
    height: 100%;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    width: 100%;
      &:hover {
        background-color: $link-color;
      }
    }
  }
  li.active {
    background-color: $link-color;
  }
}

.sidebar-content {
  position: absolute;
  left: 40px;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $white;
  overflow-x: hidden;
  overflow-y: auto;
}

.sidebar-pane {
  display: none;
  right: 0;
  box-sizing: border-box;
  padding: 0 2rem
}
.sidebar-pane.active {
  display: block;
}

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-pane {
    width: 265px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-pane {
    width: 350px;
  }
}
@media (min-width: 1200px) {
  .sidebar-pane {
    width: 420px;
  }
}

.sidebar-map {
  margin-left: 40px;
}
@media (min-width: 768px) {
  .sidebar-map {
    margin-left: 0;
  }
}

.sidebar {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
}
.sidebar.leaflet-touch {
    box-shadow: none;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .sidebar.leaflet-touch {
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
  .sidebar.collapsed ~ .sidebar-map .leaflet-left {
    left: 50px;}
  }

@media (min-width: 768px) {
  .sidebar-map .leaflet-left {
    transition: left 500ms;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-map .leaflet-left {
    left: 315px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-map .leaflet-left {
    left: 400px;
  }
}
@media (min-width: 1200px) {
  .sidebar-map .leaflet-left {
    left: 470px;
  }
}

/* End of Sidebar */

.forecast, .near-real-time, .alert-district {
  float:left;
  width: 180px
}
ul.layers {
  list-style-type: none;
  padding: 0
}
ul.layers li > label {
  font-weight: 400;
}

input[type=checkbox] {margin-right: 0.5em}
.nav-pills > li > a {font-weight: 700; padding: 5px 15px;}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
  color: #fff;
  background-color: $link-color;
}
select {background: white; border: 1px solid #ddd; height: 30px; line-height: 30px;}
.panel-group {margin-top: 15px}
.panel_heading{
  padding: 10px 15px;
}
#alerts_table_content{
  padding-top: 20px;
}
.cum_pop_list_values{
  padding-top: 1px;
}
.state_name{
  margin: 0 0 3px;
}
.graph-container, #tooltip, .graph-info a {
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f9f9f9 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f9f9f9));
  background: -webkit-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
  background: -o-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
  background: -ms-linear-gradient(top, #ffffff 0%,#f9f9f9 100%);
  background: linear-gradient(to bottom, #ffffff 0%,#f9f9f9 100%);

  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.graph-container {
  position: relative;
  width: 300px;
  height: 150px;
  padding: 20px;
  -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0px 1px 2px rgba(0,0,0,.1);
  box-shadow: 0px 1px 2px rgba(0,0,0,.1);
}

.graph-container > div {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 10px;
  left: 25px;
}

.graph-info {
  width: 590px;
  margin-bottom: 10px;
}
.leaflet-popup-tip-container{
  margin-left: 140px;
}
html, body, #map {
  height: 100%;
}
.leaflet-container{
  padding: 10px 0px 0px 0px;
}
a.leaflet-popup-close-button{
  padding: 5px 8px 0px 0px;
  color: white !important;
}
.leaflet-popup-content{
  margin-left: 15px;
  margin-right: -11px;
  height: 272px;
}
.chart_container{
  width: 316px;
}
.popup_label_right_column{
  text-align: right;
  padding-right:25px;
  padding-bottom: 5px;
}
.popup_label_left_column{
  padding-left:25px;
  padding-bottom: 5px;
}
.popup_number_right_column{
  padding-right:25px;
  padding-bottom: 0px;
  text-align: right;
}
.popup_number_left_column{
  padding-left:25px;
  padding-bottom: 0px;
}
.popup_data_number{
  font-size: 30px;
  font-weight: 700;
}
.popup_data_label{
  font-size: 11px;
  color: grey;
}
#below_chart_table{
  background-color: white;
  padding-left: 49px;
  width: 288px;
  border-radius: 25px;
}
.popup_title{
  font-weight: bold;
  font-size: 15px;
  color: white;
  white-space: nowrap;
  width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.leaflet-popup-content-wrapper{
  height: 325px;
  background-color: #609cd1;
}
.leaflet-popup-content p {
  margin:0px 0px 0px 0px;
}
#table_millimiters{
  font-size: 10px;
}

/* Remove Modal */
.modal {z-index: 2050;}
.modal-content {background: #0076c2;}
.modal-header {border: 0;}
.modal-title {color: white}
.modal-body {color: white;}
.modal-footer {border:0;}
/* ---- End of Modal ----- */


.label-default {
  background: $gray-400;
  font-size: 10px;
  margin-left: 5px
}
.label {
  -webkit-transition: background-color 300ms ease-out;
     -moz-transition: background-color 300ms ease-out;
          transition: background-color 300ms ease-out;
}
.label-default[href]:focus, .label-default[href]:hover {
  background-color: #ff4900
}
